/target
/.settings
/.externalToolBuilders
/bin
/**/target
/**/.settings
/**/.externalToolBuilders
/**/pom.xml.versionsBackup
/**/bin
/**/hs_err_pid*
/.svn
/**/release.properties
/**/pom.xml.releaseBackup
