<?xml version="1.0" encoding="UTF-8"?>
<included>

  <logger name="net.logstash.logback.appender.LogstashTcpSocketAppender" level="ERROR" additivity="false">
  </logger>
  
  <appender name="APPENDER-logstash-resp" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>${LOGSTASH_HOST:-develop:11002}</destination>
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp />
        <pattern>
          <pattern>
            {
              "app": {
                "indexName": "pilot_was-resp",
                "hostname": "${hostname}",
                "appName": "${app.name}",
                "appId": "${app.id}",
                "appVer": "${app.ver}"  
              },
              "mdc": {
                "execType": "%X{execType}",
                "debug": "%X{debug}",
                "uri": "%X{uri}",
                "ip": "%X{ip}",
                "txid": "%X{txid}",
                "guid": "%X{guid}",
                "ssid": "%X{ssid}",
                "userId": "%X{userId}",
                "referer": "%X{referer}",
                "resultCode": "%X{resultCode}",
                "resultMessage": "%X{resultMessage}"
              },
              "std": {
                "marker": "%marker",
                "file": "%file",
                "class": "%class",
                "line": "%line",
                "method": "%method",
                "message": "%msg",
                "threadName": "%thread"
              },
              "ex": {
                "exception": "%ex{2}"
              }
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>
  
  <appender name="APPENDER-logstash-sql" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>${LOGSTASH_HOST:-develop:11002}</destination>
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp />
        <pattern>
          <pattern>
            {
              "app": {
                "indexName": "pilot_was-sql",
                "hostname": "${hostname}",
                "appName": "${app.name}",
                "appId": "${app.id}",
                "appVer": "${app.ver}"  
              },
              "mdc": {
                "execType": "%X{execType}",
                "debug": "%X{debug}",
                "uri": "%X{uri}",
                "ip": "%X{ip}",
                "txid": "%X{txid}",
                "guid": "%X{guid}",
                "ssid": "%X{ssid}",
                "userId": "%X{userId}",
                "referer": "%X{referer}",
                "sqlId": "%X{sqlId}",
                "sqlFile": "%X{sqlFile}",
                "sqlText": "%X{sqlText}",
                "sqlCount": "%X{sqlCount}",
                "sqlElapsed": "%X{sqlElapsed}",
                "sqlTables": "%X{sqlTables}"
              },
              "std": {
                "marker": "%marker",
                "file": "%file",
                "class": "%class",
                "line": "%line",
                "method": "%method",
                "message": "%msg",
                "threadName": "%thread"
              },
              "ex": {
                "exception": "%ex{2}"
              }
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>
  
  <logger name="sys-response" level="${LEVEL-sys-response:-debug}" additivity="false">
    <appender-ref ref="APPENDER-logstash-resp" />
  </logger>
  <logger name="sys-sql" level="${LEVEL-sys-sql:-debug}" additivity="false">
    <appender-ref ref="APPENDER-logstash-sql" />
  </logger>
  <appender name="APPENDER-console-klog" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[%X{clazzname}] %X{label} %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="klog" level="${LEVEL-klog:-debug}" additivity="false">
    <appender-ref ref="APPENDER-console-klog" />
  </logger>
  
  
  
  <!-- FILTER-MARKER -->
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>sql-cmm</Marker>
    <OnMatch>${FILTER-MARKER-sql-cmm}</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>sql-table</Marker>
    <OnMatch>${FILTER-MARKER-sql-table}</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>aop</Marker>
    <OnMatch>${FILTER-MARKER-aop}</OnMatch>
  </turboFilter>
  
  <!-- FILTER-MDC -->
  <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
    <MDCKey>exec_type</MDCKey>
    <value>SCHEDULE</value>
    <OnMatch>${FILTER-MDC-exec_type-SCHEDULE}</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
    <MDCKey>debug</MDCKey>
    <value>true</value>
    <OnMatch>${FILTER-MDC-debug-true}</OnMatch>
  </turboFilter>
  
</included>