<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds" packagingData="true">
  
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
  
  <property name="A" value="ACCEPT" />
  <property name="D" value="DENY" />
  <property name="N" value="NEUTRAL" />
  
  <property name="LEVEL-root" value="info" />
  <property name="LEVEL-framework" value="info" />
  <property name="LOGBASE" value="/outlog/pilot/file" />
  <property name="PATTERN-root"       value="[${app.id}][%d{HH:mm:ss}][%-5level][%logger:%line] ### %msg%n"/>
  <property name="PATTERN-fw-console" value="[${app.id}][%d{HH:mm:ss}][%-5level]%clr([fw]%X{ip}%X{ssid}%X{txid}%marker){highlight} ### %msg%n"/>
  <property name="PATTERN-fw-file"    value="[${app.id}][%d{HH:mm:ss}][%-5level][fw]%X{ip}%X{ssid}%X{txid}%marker ### %msg%n"/>
  
  <appender name="APPENDER-console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="mgkim.framework.core.logging.KLayoutMultiPattern">
      <pattern>${PATTERN-root}</pattern>
      <rule>
        <logger>mgkim.framework</logger>
        <pattern>${PATTERN-fw-console}</pattern>
      </rule>
    </encoder>
  </appender>
  
  <appender name="APPENDER-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGBASE}/${app.id}.log</file>
    <encoder class="mgkim.framework.core.logging.KLayoutMultiPattern">
      <pattern>${PATTERN-root}</pattern>
      <rule>
        <logger>mgkim.framework</logger>
        <pattern>${PATTERN-fw-file}</pattern>
      </rule>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOGBASE}/${app.id}-%d{yyyyMMdd}.log</fileNamePattern>
    </rollingPolicy>
  </appender>
  
  <!-- marker 필터 -->
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>[sql-cmm]</Marker>
    <OnMatch>${D}</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>[aop-filter]</Marker>
    <OnMatch>${D}</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>[aop-stereo]</Marker>
    <OnMatch>${N}</OnMatch>
  </turboFilter>
  
  <!-- MDC 필터 -->
  <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
    <MDCKey>exec_type</MDCKey>
    <value>[SCHEDULE]</value>
    <OnMatch>${D}</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
    <MDCKey>debug</MDCKey>
    <value>[true]</value>
    <OnMatch>${A}</OnMatch>
  </turboFilter>
  
  <root level="${LEVEL-root}">
    <appender-ref ref="APPENDER-console" />
  </root>
  
</configuration>