<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds" packagingData="true">
  
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
  
  <property name="LOGBASE" value="/outlog/pilot/file" />
  <property name="PROP-marker" value="%replace([%-8marker]){'\\[        \\]',''}" />
  <property name="PROP-client" value="%replace([%X{ip:--ip-}|%X{txid:--txid-}|%X{ssid:--ssid-}]){'\\[-ip-\\|-txid-\\|-ssid-\\]',''}" />
  <property name="PATTERN-root"       value="[${app.id}][%d{HH:mm:ss}][%-5level][%logger:%line] ### %msg%n"/>
  <property name="PATTERN-fw-console" value="[${app.id}][%d{HH:mm:ss}]%clr([%-5level]){highlight}%clr(${PROP-client}){cyan}%clr(${PROP-marker}){magenta}[%logger:%line] ### %msg%n"/>
  <property name="PATTERN-fw-file"    value="[${app.id}][%d{HH:mm:ss}][%-5level]${PROP-client}${PROP-marker}[%logger:%line] ### %msg%n"/>
  
  <appender name="APPENDER-console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="mgkim.framework.core.logging.KLogLayout">
      <pattern>${PATTERN-root}</pattern>
      <rule>
        <logger>mgkim.framework</logger>
        <pattern>${PATTERN-fw-console}</pattern>
      </rule>
    </encoder>
  </appender>
  
  <appender name="APPENDER-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGBASE}/${app.id}.log</file>
    <encoder class="mgkim.framework.core.logging.KLogLayout">
      <pattern>${PATTERN-root}</pattern>
      <rule>
        <logger>mgkim.framework</logger>
        <pattern>${PATTERN-fw-file}</pattern>
      </rule>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOGBASE}/${app.id}-%d{yyyyMMdd}.log</fileNamePattern>
    </rollingPolicy>
  </appender>
  
  <appender name="APPENDER-root-logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>${LOGSTASH_HOST:-develop:11002}</destination>
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <pattern>
          <pattern>
            {"fields": {"server_name": "${hostname}", "log_type": "pilot_was-root"}, "appName": "${app.name}", "appId": "${app.id}", "appVer": "${app.ver}"}
          </pattern>
        </pattern>
        <timestamp />
        <mdc />
        <context />
        <threadName />
        <logLevel />
        <message />
        <loggerName />
        <logstashMarkers />
        <stackTrace />
        <callerData>
          <classFieldName>class</classFieldName>
          <methodFieldName>method</methodFieldName>
          <lineFieldName>line</lineFieldName>
          <fileFieldName>file</fileFieldName>
        </callerData>
      </providers>
    </encoder>
  </appender>
  
  <property name="A" value="ACCEPT" />
  <property name="D" value="DENY" />
  <property name="N" value="NEUTRAL" />
  
  <!-- FILTER-MARKER -->
  <property name="FILTER-MARKER-sql-cmm" value="${N}" />
  <property name="FILTER-MARKER-sql-table" value="${N}" />
  <property name="FILTER-MARKER-aop" value="${N}" />
  <!-- FILTER-MDC -->
  <property name="FILTER-MDC-exec_type-SCHEDULE" value="${D}" />
  <property name="FILTER-MDC-debug-true" value="${A}" />
  
  <!-- {framework-core} logback-include.xml: FILTER-MARKER, FILTER-MDC -->
  <include resource="logback-include.xml" />
  
  
  <root level="${LEVEL-root:-info}">
    <appender-ref ref="APPENDER-console" />
    <appender-ref ref="APPENDER-root-logstash" />
  </root>
  
</configuration>