<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds" packagingData="true">

  <include resource="logback/framework-core-logback.xml" optional="false" />
  
  <property name="LEVEL-root" value="info" />
  <property name="LEVEL-framework" value="info" />
  <property name="LOG_PATH" value="/outlog/pilot" />
  
  <!-- marker 필터 -->
  <!-- 
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>[req]</Marker>
    <OnMatch>${A}</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>[sql]</Marker>
    <OnMatch>${A}</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>[res]</Marker>
    <OnMatch>${A}</OnMatch>
  </turboFilter>
  -->
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>[sql-cmm]</Marker>
    <OnMatch>${D}</OnMatch>
  </turboFilter>
  
  <!-- MDC 필터 {OnMatch|OnMismatch=ACCEPT,DENY} -->
  <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
    <MDCKey>exec_type</MDCKey>
    <value>[SCHEDULE]</value>
    <OnMatch>${D}</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
    <MDCKey>debug</MDCKey>
    <value>[true]</value>
    <OnMatch>${A}</OnMatch>
  </turboFilter>
  
  <root level="${LEVEL-root}">
    <appender-ref ref="CONSOLE-root" />
    <appender-ref ref="FILE-root" />
  </root>

</configuration>