@charset "utf-8";
/* CSS Document */

/* ========== [레이아웃 - 공통] ========== */
html,body,header,footer,section,article,nav,h1,h2,h3,h4,h5,h6,div,span,p,table,th,td,dl,dt,dd,ul,ol,li,a {margin:0;padding:0;}
html,body {height:100%}
ul, ol, li {list-style:none}
img {border:0 none;}
button {
    padding:0;margin:0;
    border:0;
    background-color:transparent;
}
pre {
    font:inherit;
    white-space:pre-wrap
}
/* ( anchor ) */
a {text-decoration:none;}
/* ( vertical-align ) */
input, img, span, label , button,  a {vertical-align:middle}
/* ( box-sizing ) */
div,span,button,input[type="text"],input[type="password"],input[type=date],
ul,ol,li,dl,dt,dd,
a, span, label, textarea {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
/* ( display ) */
a, span {display:inline-block}
label {
    display:inline-block;
    margin-right:10px;
}

/***************************** [ INITIALIZE(초기셋팅) ] ***********************************/
/***** { HTML/BODY } *****/
html,body {
    min-width:200px;
    min-height:100%;
    font-family:'NanumGothic','굴림','Gulim',sans-serif;
    font-size:12px;
    color:#000;
}
body > form {position:relative;z-index:200}


/***** { HEADING-INIT } *****/
h1,h2,h3,h4,h5,h6 {font:inherit}



/***** { FORM ELEMENTS-INIT } *****/
input, button , textarea, select {
    font:inherit;
    color:inherit;
}
input[type="text"],input[type="password"],
input[type="date"] {
    height:20px;
    padding-left:5px;
    padding-right:5px;
    border:1px solid #c4c4c4;
    box-shadow: inset 1px 1px 1px #e6e6e6;
    border-radius: 2px;
    max-width: 100%;
}
input[type="text"][readonly],input[type="password"][readonly],
input[type="text"][disabled],input[type="password"][disabled],
input[type="date"][disabled],
textarea[readonly],textarea[disabled] {
    background-color:#eee;
    box-shadow:none;
}
td input[type="text"], td input[type="password"],
td input[type=date], td select {
    margin-right:4px
}
td input[type="text"]:last-child, td input[type="password"]:last-child, td select:last-child {margin-right:0}
select {
    position:relative;
    z-index:1;
    height: 20px;
    border:1px solid #c4c4c4;
    border-radius:2px;
}
select[disabled] {
    border-style:solid
}
th select {font-weight:700}
textarea {border:1px solid #c4c4c4;}
label {
    vertical-align:sub
}
/* ( RADIO & CHECKBOX ) */
input[type="radio"],input[type="checkbox"] {
    margin-bottom:0
}
input[type="radio"]+label,
input[type="checkbox"]+label {
    margin-left:2px;
    margin-right:10px;
    margin-top: 3px;
    vertical-align: baseline;
}
th input[type="radio"],
th input[type="radio"]+label,
td input[type="radio"],
td input[type="radio"]+label,
th input[type="checkbox"],
th input[type="checkbox"]+label,
td input[type="checkbox"],
td input[type="checkbox"]+label {
    vertical-align: top;
}
.table-frame th input[type="radio"]+label,
.table-frame td input[type="radio"]+label,
.table-frame th input[type="checkbox"]+label,
.table-frame td input[type="checkbox"]+label {
    margin-top:0;
}
th input[type="radio"]+label,
td input[type="radio"]+label
th input[type="checkbox"]+label,
td input[type="checkbox"]+label {
    padding-top:1px;
}
td input[type="radio"]:first-child {margin-left:0}
td input[type="radio"]+label:last-child {margin-right:0}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    th input[type="radio"]+label,
    td input[type="radio"]+label,
    th input[type="checkbox"]+label,
    td input[type="checkbox"]+label {
        padding-top:0;
    }
}

/* ( SUP / SUB [위첨자,아래첨자] ) */
sup , sub {position:relative;top:2px;font-size:11px;color: #BE0000;}
/* ( TEXTAREA ) */
textarea {margin:0}
/* ( SELECT ) */
select[disabled], select[readonly] {background-color:#eee}


/***** { TABLE INITIALIZE } *****/
table {
    table-layout:fixed;
    width:100%;
    max-width:100%;
    border-collapse:collapse;
}
th {width:92px; text-align:right; padding-right:5px;}
thead th {width:auto}
td strong {vertical-align:sub}
table.th-top th,table th.th-top,
table td.th-top {
    vertical-align:top;
    line-height: 13px!important;
}
table.table-frame.th-top td {vertical-align:top}

/***** { BUTTON-INIT } *****/
button {cursor:pointer;}
button:focus {outline:1px dashed #aaa}
button[disabled] {cursor:default}


/***** { ANCHOR-INIT } *****/
a {
    color:#000;
}
a.anchor {cursor:pointer;}
a.anchor:hover {text-decoration:underline}

/***** { LIST-INIT } *****/
/* ul li {font: inherit;line-height: 19px;} */


/***************************** [ COMMON(공통영역[frame]) ] ***********************************/
/* area-contents (업무 콘텐츠 영역) */
section.area-contents {
    position:relative;
    overflow-y:auto;
    width:100%;
    height:100%;
    padding:20px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    min-width:200px;
}



/***************************** [ GLOBAL DESIGN(공통 디자인 클래스) ] ***********************************/
.half {width: 49.99999%;}
/***** { FLOAT } *****/
.clear:after {display:block;content:"";clear:both;}
.floatL {float:left;display:inline-block}
.floatR {float:right;display:inline-block}
.floatL:after ,.floatR:after {
    display:block;content:"";
    clear:both;
}
/***** { ALIGN } *****/
.align-center {text-align:center!important}
tr.align-center th,tr.align-center td {text-align:center}
tbody.align-center th,tbody.align-center td {text-align:center}
.align-left {text-align:left!important}
.align-right {text-align:right!important}
tr.align-right th,tr.align-right td {text-align:right}
tr.align-right.th td {text-align:left}
/***** { FONT } *****/
.normal {font-weight:400}
.bold {font-weight:700}
.underline {text-decoration:underline}
.table-primary .bold th , .table-primary .bold td {font-weight:700}
.table-frame  th.bold , .table-frame .bold td {font-weight:700}
.gray {color:#777}
.red {color: red!important;}
.blue {color:#0E46B8!important;}
.dashline {display:block;margin:10px 0;border-top:1px dashed #bfc8d1;}
.spanBox {
    display:inline-block;
    padding:3px 5px 1px 5px;
    border:1px solid #ccc;
    border-radius:2px;
    background-color:#f1f1f1;
    vertical-align:top;
    color:#0E2F83;
}
input.code-small {
    padding-left:2px;padding-right:2px;padding-top:3px;
    font-size:11px;letter-spacing:-1px;
    font-family:'NanumGothic','굴림','Gulim',sans-serif;
    line-height:auto;text-align:center;
    color:#333;
}
input.code-small.office {width:35px}
input.code-small.mng {width:52px}
input.code-small.biz {width:71px}
input.code-small.plancd {width:79px}
input.code-small.mem {width:85px}
input.code-small.plantype {width:89px}
input.code-small.fund {width:60px}
input.code-small.emp {width:68px}

/***** { FORM ELEMENT } *****/
/* ( input-full : 100% width ) */
input.full,.input-full,
select.full,
textarea.full {width:100%;max-width: none;}
/* ( input-fake : 보더없는 인풋 ) */
input.fake {border-color:transparent;background-color:transparent;box-shadow:none;outline:none}
td input.fake {padding-left:0;padding-right:0}
input.fake[readonly],input.fake[disabled] {border-color:transparent!important;background-color:transparent!important}
/* (full) */
table.full {width:100%}


/***** { MARGIN & PADDING } *****/
/* ( MRAGIN ) */
/* NONE */
.mar-none {margin:0!important}
.mar-left-none {margin-left:0!important}
.mar-rgt-none {margin-right:0!important}
.mar-top-none {margin-top:0!important}
.mar-btm-none {margin-bottom:0!important}
/* RIGHT */
.mar-rgt-4  {margin-right:4px!important}
.mar-rgt-10 {margin-right:10px!important}
.mar-rgt-15 {margin-right:15px!important}
.mar-rgt-20 {margin-right:20px!important}
/* LEFT */
.mar-left-4 {margin-left:4px!important}
.mar-left-10 {margin-left:10px!important}
.mar-left-20 {margin-left:20px!important}
/* TOP */
.mar-top-5 {margin-top:5px!important}
.mar-top-10 {margin-top:10px!important}
.mar-top-15 {margin-top:15px!important}
.mar-top-30 {margin-top:30px!important}
/* BOTTOM */
.mar-btm-2 {margin-bottom: 2px!important;}
.mar-btm-5 {margin-bottom: 5px!important;}
.mar-btm-10 {margin-bottom:10px!important}
.mar-btm-15 {margin-bottom:15px!important}
.mar-btm-20 {margin-bottom:20px!important}
.mar-btm-25 {margin-bottom:25px!important}
.mar-btm-30 {margin-bottom:30px!important}
.mar-btm-40 {margin-bottom:40px!important}

/* ( PADDING ) */
/* 4DIR */
.pad-3 {padding:3px !important;}
.pad-5 {padding:5px !important;}
.pad-10 {padding:10px !important;}
/* NONE */
.pad-left-none {padding-left:0!important}
.pad-rgt-none {padding-right:0!important}
.pad-btm-none {padding-bottom:0!important}
.pad-none {padding:0!important}
/* LEFT */
.pad-left-10 {padding-left:10px!important}
.pad-left-15 {padding-left:15px!important}
/* RIGHT */
.pad-rgt-5 {padding-right:5px!important}
.pad-rgt-10 {padding-right:10px!important}
/* TOP */
.pad-top-none {padding-top:0!important}
.pad-top-10 {padding-top:10px!important}
/* BOTTOM */
.pad-btm-none {padding-bottom:0!important}
.pad-btm-5 {padding-bottom:5px!important}
.pad-btm-10 {padding-bottom:10px!important}


/***** { TABLE } *****/
/* ( table-primary ) */
.table-primary-wrap {
    overflow: auto;
    margin-bottom:10px;
}
.table-primary {
    margin-bottom: 15px;
    border: 1px solid #c1c1c1;
    border-top: 2px solid #888;
}
.table-primary th , .table-primary td {
    overflow:hidden;
    height:20px;
    padding:2.5px 8px;
    border-bottom: 1px solid #bfc8d1;
    border-right: 1px solid #bfc8d1;
}
.table-primary th {
    padding-left: 22px;
    padding-right: 14px;
    font-weight: 400;
    background-color: #f2f2f4;
    text-align: left;
}
.table-primary tr.checked td {
    background-color: #e3e6eb;
}
.table-primary tr.selected td {
    background-color: #bfc8d1;
}
.table-primary tbody.scrolltbody {
    display: block;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.table-primary.dark th,
.table-primary th.dark,.table-primary tr.dark th {background-color:#e3e6eb}
.table-primary tr.align-center th,
.table-primary th.align-center {padding-left:8px;padding-right:8px}
.table-primary tr.align-center th.align-left {padding-left:22px;padding-right:14px}

.table-primary tr.req th,
.table-primary th.req {
    /*background:#f2f2f4 url(/resources/images/th-req.png) 1px 1px no-repeat;*/
}
.table-primary tr.req th,
.table-primary th.req.dark {
    /*background:#e3e6eb url(/resources/images/th-req.png) 1px 1px no-repeat;*/
}
.table-primary.table-inner tr.req th,
.table-primary.table-inner th.req {/*background:#e4edf6 url(/resources/images/th-req.png) 1px 1px no-repeat;*/}
.table-primary td {background-color:#fff;}
.table-primary tr.th-list th ,
.table-primary th.th-list {background-color: #F2F2F4;}
.thSmall th, th.thSmall {
    padding-left:10px;padding-right:10px;
    font-size:11px;
    font-family:'NanumGothic','굴림','Gulim',sans-serif;

}

/* ( box-inquiry ) */
.box-inquiry {
    position: relative;
    margin-bottom: 13px;
    padding: 5px 14px;
    border: 2px solid #567bc3;
    z-index: 300;
}
.box-inquiry:after {display:block;content:'';clear:both}
.box-inquiry input[type="text"],.box-inquiry input[type="password"] {height: 20px;}
.box-inquiry .btn-box-search {vertical-align:top;}
.box-inquiry .floatR .btn-inquiry {
    position:absolute;
    top: 6px;
    right: 14px;
}
.box-inquiry td select {vertical-align:middle}


/***** { TITLE } *****/
/* ( title-page ) */
.title-page {
    display:inline-block;
    position:relative;
    height:17px;
    padding-left: 23px;padding-top:20px;
    margin-top:-20px;margin-bottom: 10px;
    font-family:'NanumGothic','굴림','Gulim',sans-serif;
    font-weight:700;
    font-size:14px;
    /*background: url(/resources/images/bul-tit-page.gif) 3px 20px no-repeat;*/
    color:#000;
}
.title-page:after {
    display:block;
    content:"";
    height:1px;
}
/* ( title-table ) */
.title-table {
    padding-left:22px;
    margin-bottom: 4px;
    font-weight:700;
    font-size:13px;
    line-height:16px;
    /*background: url(/resources/images/bul-tit-table.png) 0 25% no-repeat;*/
    color:#444;
}
/* ( title-grid ) */
.title-grid {
    padding-left:20px;
    margin-bottom: 3px;
    font-weight:700;
    font-size:13px;
    line-height:16px;
    /*background: url(/resources/images/bul-tit-grid.gif) 0 1px no-repeat;*/
    color:#444;
}
.title-grid input[type="radio"],
.title-grid label {
    vertical-align:middle;
}
.title-grid input[type="radio"], .title-grid input[type="checkbox"] {margin-top:0}
.title-grid input[type="radio"]:first-child,.title-grid input[type="checkbox"]:first-child {
    margin-left:20px
}
.title-grid.title-top {background-position:0 2px}
.title-grid .desc-strong {margin-top:-1px}
/* ( title-box ) */
.title-box {
    padding-left:5px;
    margin-right:5px;margin-left:5px;
    font-weight:700;
    line-height:17px;
    color:#444;
}
.marSmall .title-box {margin-left:20px;margin-right:10px}
.marSmall2 .title-box {margin-left:17px;margin-right:10px}
/* .title-box select {font-weight:400} */
tr.req .title-box,
th.req .title-box,
.title-box.req {
    color:#fe8904;
    /*background-image:url(/resources/images/bul-box-req.gif);*/
}
.req-text ,.title-toggle.req-text {color:#fe8904;}

th:first-child .title-box,
td:first-child .title-box {margin-left:0}
tr.req th select ,
th.req select {font-weight:700;color:#444}
/* ( title-box2 : 삼각형 블릿 ) */
.title-box2 {
    padding-left: 12px;
    margin-right:11px;
    margin-left:15px;
    font-weight:700;
    /*background: url(/resources/images/bul-box-tit2.gif) 0 3px no-repeat;*/
    color:#444;
}
tr.req .title-box2,
.title-box2.req {
    color:#fe8904;
    /*background-image:url(/resources/images/bul-box-req.gif);*/
}
th:first-child .title-box2,
td:first-child .title-box2 {margin-left:0}
/* ( title-desc : 디스크립션 타이틀 ) */
.title-desc {
    overflow:hidden;
    padding:6px 0 3px 16px;
    margin-bottom:6px;
    font-weight:700;
    border-bottom:1px solid #dbcfc0;
    /*background:url(/resources/images/bul-tit-desc.gif) 0 6px no-repeat;*/
}

/* ( heading-row ) : 헤딩 + 우측 옵션 */
.heading-row:after {display:block;content:"";clear:both}
.heading-row {
    display:table;
    width: 100%;
    margin-bottom:5px;
}
.heading-row > h3, .heading-row .option {
    display:table-cell;
}
.heading-row > h3,
.heading-row > h4, .heading-row .option {
    position:relative;z-index:150;
    display:table-cell;
}
.heading-row > h3,.heading-row > h4 {margin-bottom:0;height:23px;}
.heading-row .title-option {
    position:relative;
    top: -4px;
    display:inline-block;
    vertical-align:text-top;
}
.heading-row .title-top {
    position:relative;top:5px;
    line-height:19px;
    vertical-align:top;
}
.heading-row .option {
    text-align:right;
}
.heading-row .option div {display:inline-block;}
/* heading-row - 옵션 좌측정렬 */
.heading-row.left {width:auto}
.heading-row.left .option {padding-left:10px}

.heading-row > .option > div > label >  input[type="text"], input[type="checkbox"], span {margin-top: -6px;}




