<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds" packagingData="true">
  
  <property name="LEVEL-root" value="info" />
  <property name="LEVEL-framework" value="info" />
  <property name="LOG_PATH" value="/outlog/pilot-dev" />
  <property name="PATTERN-root" value="[${spring.profiles.active}][${app.id}] %d{yyyy-MM-dd HH:mm:ss} [%-5level][%thread]%boldRed(%marker)[%logger:%line] ### %msg%n"/>
  
  <appender name="CONSOLE-root" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${PATTERN-root}</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE-root" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/${app.id}.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${PATTERN-root}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/${app.id}-%d{yyyyMMdd}.log</fileNamePattern>
    </rollingPolicy>
  </appender>
  
  
  <root level="${LEVEL-root}">
    <appender-ref ref="CONSOLE-root" />
    <appender-ref ref="FILE-root" />
  </root>

</configuration>